body {
    
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 11pt; 
    text-align: justify;
    hyphens: auto;
}

.flex-container {
  
}

h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24pt;
}

code {
    width: fit-content;
    font-family: Doto, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    background-color: #cfe8d1;
    padding: 0px 3px 0px 3px;
}

pre {
    border-right: white dashed 3px;
    border-left: white dashed 3px;
    font-family: Doto, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    background-image: linear-gradient(0deg, #cfe8d1 48px, #f4f5f0 48px);
    background-size: 50px 96px;
    width: 100%;
    margin: 0px;
}

img {
    box-shadow: 0 2px 5px rgba(154,160,185,.05), 0 5px 10px rgba(166,173,201,.2);
}
/* * {
    outline: 1px solid red;
} */

a {
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color:black;
}
.button a:active {
    color: white;
    transition: all 0.2s ease-out allow-discrete;
}

p a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
  /* selected link */
p a:active {
    color: blue;
    transition: all 0.1s ease-out allow-discrete;
}
p a:hover {
    color: blue;
    transition: all 0.1s ease-out allow-discrete; 
}


.pre-container {
    width: 90%;
    min-width: 700px;
    display: flex;
    margin: 5px;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(154,160,185,.05), 0 5px 10px rgba(166,173,201,.2);

}

.column {
    flex-direction: column;
}

.tear-off-div {    
    width: 30px;
    margin: 0px;
    background-image: radial-gradient(transparent 5px, rgba(154,160,185,.5) 35%, rgba(154,160,185,.5) 5%, #f4f5f0 0);
    background-size: 30px 30px;
}

.center {
    display: flex;
    justify-content: center;
}

span {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24pt;
    font-style: normal;
}

.header {
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18pt;
    font-style: normal; 
}

.text {
        font-family: "Wix Madefor Text", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-size: 12pt;
        font-style: normal; 
        line-height: 150%;
}

.button {
    cursor: pointer;
    border-radius: 999px;
    border: 1px solid black;
    width: fit-content;
    padding: 9px 17px 12px 17px;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 14pt;
    font-style: normal; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button:active {
    transition: all 0.2s ease-out allow-discrete;
    background-color: rgb(0, 0, 255);
    color: #ebebff;
    border-color: rgb(0, 0, 255);
}
  
@media (max-width: 768px) {
    .button {
        transition: all 0.2s ease-out allow-discrete;
        font-size: 12pt;
        padding: 9px 15px 11px 15px;
        
    }
}
@media (min-width: 769px) {
    .button {
        transition: all 0.2s ease-out allow-discrete;
        font-size: 14pt;
        padding: 9px 17px 12px 17px;
        
    }
}

marquee {
    font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-size: 24pt;
  font-style: normal;
        animation: colorRotate 0.5s linear 0s infinite;
    
    }
    
    @keyframes colorRotate {
        from {
            color: rgb(255, 0, 0);
        }
        16.6% {
            color: rgb(255, 0, 255);
        }
        33.3% {
            color: rgb(0, 0, 255);
        }
        50% {
            color: rgb(0, 255, 255);
        }
        66.6% {
            color: rgb(0, 255, 0);
        }
        83.3% {
            color: rgb(255, 255, 0);
        }
        to {
            color: rgb(255, 0, 0);
        }
    }

    

      
